node_modules

# OS
.DS_Store

# Project
coverage

apps/backend/.vercel
apps/backend/.env
apps/backend/node_modules
apps/backend/*.lock
apps/backend/coverage
apps/backend/benchmarks
apps/backend/vercel_token
apps/backend-copy

apps/frontend/.env


.turbo
build
build-ts
*.tsbuildinfo

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.code-workspace

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/
.vercel
